<main class="main">
  <form class="form">
    <h1 class="form__title">{{loginButtonText}}</h1>
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputName}}}
    {{{inputSubname}}}
    {{{inputTel}}}
    {{{inputPassword}}}
    {{{inputRepassword}}}
    {{{buttonRegister}}}
    {{{navLink}}}
  </form>
</main>
