<main class="main">

  <div class="backarrow">
    <img src="../../img/back-arrow.png" class="backarrow__image">
  </div>
  <div class="profile">
    <div class="avatar">
      <img src="../../img/avatar-placeholder.png" class="backarrow__image">
    </div>

    <form class="form">
      <h1 class="form__title">Иван</h1>
      {{{inputEmail}}}
      <div class="divider"></div>
      {{{inputLogin}}}
      <div class="divider"></div>
      {{{inputName}}}
      <div class="divider"></div>
      {{{inputSubname}}}
      <div class="divider"></div>
      {{{inputChatName}}}
      <div class="divider"></div>
      {{{inputTel}}}
    </form>
    <div class="profile__links">
      {{{navLinkEditInfo}}}
      <div class="divider"></div>
      {{{navLinkEditPass}}}
      <div class="divider"></div>
      {{{navLinkEditExit}}}
    </div>
  </div>

</main>
